<div class="container">
  <div class="modal-dialog">
    <div class="modal-content upSize">
      <form style="background-color: #435d7d;">
        <div class="modal-header text-center">
          <h1 class="modal-title w-100" style="color: #dadde2; font-family: 'Varela Round', sans-serif">Modifier les informations d'un utilisateur</h1>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-4">
              <label>Civilités</label>
              <select class="col-md-6" [(ngModel)]="currentUser.civilite" name="civilite" class="form-control">
                <option *ngFor="let s of listCivilites" [value]="s.civilite">{{s.civilite}}</option>
              </select>
            </div>
            <div class="col-md-4">
              <label>Prénom(s)</label>
              <input type="text" [(ngModel)]="currentUser.prenomUser" name="prenomUser" class="form-control"
                     placeholder="Prénom(s)"/>
            </div>
            <div class="col-md-4">
              <label>Nom</label>
              <input type="text" [(ngModel)]="currentUser.nomUser" name="nomUser" class="form-control"
                     placeholder="Nom"/>
            </div>
          </div>
          <br/>
          <div class="row">
            <div class="col-sm-6">
              <label>Username</label>
              <input type="text" [(ngModel)]="currentUser.username" name="username" class="form-control"
                     placeholder="Username"/>
            </div>
            <div class="col-sm-6">
              <label>Password</label>
              <input type="text" [(ngModel)]="currentUser.password" name="password" class="form-control"
                     placeholder="Password"/>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-sm-6">
              <label>Rôle</label>
              <input type="text" [(ngModel)]="currentUser.role" (input)="convertToUppercase($event)" name="role"
                     class="form-control" placeholder="Rôle"/>
            </div>
            <div class="col-sm-6">
              <label>Mobile</label>
              <input type="text" [(ngModel)]="currentUser.mobile" name="mobile" class="form-control"
                     placeholder="Mobile"/>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-sm-6">
              <label>Date De Naissance</label>
              <input type="date" [(ngModel)]="currentUser.birthDay" (ngModelChange)="currentUser.birthDay= $event" name="birthDay" class="form-control"
                     placeholder="Date De Naissance"/>
            </div>
            <div class="col-sm-6">
              <label>Ville</label>
              <input type="text" [(ngModel)]="currentUser.ville" name="ville" class="form-control" placeholder="Ville"/>
            </div>
          </div>
          <br/>
          <div class="row">
            <div class="col-sm-12">
              <label>Adresse</label>
              <input type="text" [(ngModel)]="currentUser.adresse" name="adresse" class="form-control"
                     placeholder="Adresse"/>
            </div>
          </div>
          <br/>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-secondary" data-bs-dismiss="modal" routerLink="/utilisateurs">Close
          </button>
          <button type="submit" (click)="updateUser()" class="btn btn-success">Modifier</button>
        </div>
      </form>
    </div>
  </div>
</div>
