<!-- <div class="alert alert-danger" >
    <strong> Vous n’êtes pas autorisé…</strong>
</div> -->

<div class="modal-dialog modal-confirm">
	<div class="modal-content">
		<div class="modal-header">
			<div class="icon-box">
				<i class="material-icons">&#xE5CD;</i>
			</div>
			<h4 class="modal-title w-100">Sorry!</h4>
		</div>
		<div class="modal-body">
			<p class="text-center">Vous n’êtes pas autorisé…😉</p>
		</div>
		<div class="modal-footer">
			<button class="btn btn-danger btn-block" data-dismiss="modal" routerLink="/accueil">OK</button>
		</div>
	</div>
</div>