<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
<br>
<div class="table-responsive">
  <div class="table-wrapper">
    <div class="table-title">
      <div class="row">
        <div class="col-sm-5"><br>
          <h1><b>Suivi des utilisateurs</b></h1>
        </div>

        <div class="col-sm-4"><br>
          <!--<a class="btn btn-success" *ngIf="authService.isAdmin()" data-toggle="modal" routerLink="/addClient"><b><i
                          class="material-icons">&#xE147;</i> <span>Ajouter</span></b></a>-->
          <button type="button" class="btn btn-success add-new" data-toggle="modal" routerLink="/addUtilisateur"><i
            class="fa fa-plus"></i> Add New User
          </button>
        </div>
      </div>
    </div>

      <table class="table table-striped table-hover table-bordered">
        <thead>
        <tr style="background-color: #435d7d; color: white; text-align: center;">
          <th>Nom</th>
          <th>Prénom(s)</th>
          <th>Username</th>
          <th>Password</th>
          <th>Rôle</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody *ngFor="let user of users">
        <tr style="text-align: center;">
          <td>{{user.nomUser | uppercase}}</td>
          <td>{{user.prenomUser | titlecase}}</td>
          <td>{{user.username}}</td>
          <td>{{user.password}}</td>
          <td>-</td>
          <td class="text-center">
            <a class="btn btn-success" [routerLink]="['/updateUtilisateur', user.idUser]"
               style="color: #435d7d;" class="edit" title="Edit" data-toggle="tooltip">
              <i class="material-icons">&#xE254;</i>
            </a>
            <a type="button" (click)="supprimerUser(user)" style="color: red;" class="trigger-btn"
               data-toggle="modal">
              <i class="material-icons">&#xE5C9;</i>
            </a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
</div>
</body>

</html>
<router-outlet></router-outlet>
