<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
<br>
<div class="container">
  <div id="myModal1" class="modal fade">
    <div class="modal-dialog modal-confirm">
      <div class="modal-content">
        <div class="modal-header flex-column">
          <div class="icon-box">
            <i style="font-size: 50px" class="material-icons">&#xE5CD;</i>
          </div>
          <h4 class="modal-title w-100">Etes-vous sûr ?</h4>
        </div>
        <div class="modal-body">
          <p><strong>Voulez-vous supprimer cette ligne ?</strong></p>
        </div>
        <div class="modal-footer justify-content-center">
          <button style="background-color: #435d7d" type="button" class="btn btn-secondary" data-dismiss="modal">
            Annuler
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
