/* Modal styles */
.modal-confirm {
  color: #636363;
  width: 325px;
}
.modal-confirm .modal-content {
  padding: 30px;
  border-radius: 10px;
  border: none;
  text-align: center;
  font-size: 14px;
  width: 130%;
}
.modal-confirm .modal-header {
  border-bottom: none;
  position: relative;
}
.modal-confirm h4 {
  text-align: center;
  font-size: 30px;
  margin: 30px 0 -15px;
  font-family: 'Varela Round', sans-serif;
}
.modal-confirm .form-control, .modal-confirm .btn {
  min-height: 40px;
  border-radius: 3px;
}
.modal-confirm .close {
  position: absolute;
  top: -5px;
  right: -5px;
}
.modal-confirm .modal-footer {
  border: none;
  text-align: center;
  border-radius: 5px;
  font-size: 13px;
}
.modal-confirm .icon-box {
  color: #fff;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: -70px;
  width: 95px;
  height: 95px;
  border-radius: 50%;
  z-index: 9;
  background: #ef513a;
  padding: 15px;
  text-align: center;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}
.modal-confirm .icon-box i {
  font-size: 56px;
  position: relative;
  top: 4px;
}
.modal-confirm.modal-dialog {
  margin-top: 80px;
  font-family: 'Varela Round', sans-serif;
}
.modal-confirm .btn {
  color: #fff;
  border-radius: 4px;
  background: #ef513a;
  text-decoration: none;
  transition: all 0.4s;
  line-height: normal;
  border: none;
}
.modal-confirm .btn:hover, .modal-confirm .btn:focus {
  background: #da2c12;
  outline: none;
}

.table-filter .filter-group {
  float: right;
  border-radius: 20px;
  margin-left: 15px;
}
.table-filter input, .table-filter select {
  height: 34px;
  border-radius: 3px;
  border-color: #ddd;
  box-shadow: none;
}
.table-filter {
  padding: 5px 0 15px;
  border-bottom: 1px solid #e9e9e9;
  margin-bottom: 5px;
}
.table-filter .btn {
  height: 34px;
}
.table-filter label {
  font-weight: normal;
  margin-left: 10px;
}
.table-filter select, .table-filter input {
  display: inline-block;
  margin-left: 5px;
}
.table-filter input {
  width: 200px;
  display: inline-block;
}
.filter-group select.form-control {
  width: 157px;
}
.filter-icon {
  float: right;
  margin-top: 7px;
}
.filter-icon i {
  font-size: 18px;
  opacity: 0.7;
}

.add-new {
  float: right;
  height: 40px;
  font-weight: bold;
  font-size: 12px;
  text-shadow: none;
  min-width: 100px;
  border-radius: 50px;
  line-height: 15px;
}
.add-new i {
  margin-right: 4px;
}





p {
  position: relative;
  width: 100%;
  color: black;
  border: 4px solid white;
  text-decoration: none;
  padding: 1rem 2rem;
  border-radius: 4px;
  transition: all .2s;

  font-family: 'Varela Round', sans-serif;
  font-size: 15px;
}

p span {
  position: absolute;
  top: -1rem;
  right: -1rem;
  background: #5cb85c;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid white;
  border-radius: 50%;
}
