<div class="upSize">
    <button type="submit" class="btn btn-secondary button" data-bs-dismiss="modal" routerLink="/clients">
        <div class="container">
            <div class="modal-dialog">
                <div class="modal-content center upSize">
                    <form>
                        <div class="modal-header divTitle">
                            <h2><b>Campus France</b></h2>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </button>
    <button type="submit" class="btn btn-secondary button" data-bs-dismiss="modal" routerLink="/clientsPar">
        <div class="container">
            <div class="modal-dialog">
                <div class="modal-content center upSize">
                    <form>
                        <div class="modal-header divTitle">
                            <h2><b>Parcoursup</b></h2>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </button>
    <button type="submit" class="btn btn-secondary button" data-bs-dismiss="modal" routerLink="/clientsCanada">
        <div class="container">
            <div class="modal-dialog">
                <div class="modal-content center upSize">
                    <form>
                        <div class="modal-header divTitle">
                            <h2><b>Canada</b></h2>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </button>
</div>